<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仲恺农业机器人</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
</head>
<body>
    <h1>This is the Home Page!</h1>
    <h1>这里是展示首页！</h1>

{#    <button type="button" class="btn btn-primary">登录</button>#}
{#    <button type="button" class="btn btn-primary btn-lg active">登录</button>#}
{#    <input type="button" class="btn btn-primary btn-lg active" value="登录" />#}
    <input type="button" class="btn btn-primary btn-lg active" onclick="window.open('/login/','_self');" value="登录" />



</body>
</html>