<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/layout.css">

</head>
<body>
    <div class="pg-heaher panel">
        <div class="logo left">项目管理</div>
        <div class="avatar right" style="position:relative">
            <img style="width: 40px;height: 40px;" src="/static/F2.png">
            <div class="user-info" >
                <a>个人资料</a>
                <a>注销</a>
            </div>
        </div>
        <div class="rmenus right">
            <a><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> 消息</a>
            <a><i class="glyphicon glyphicon-cog fa-spin" aria-hidden="true"></i> 设置</a>

        </div>

    </div>
    <div class="pg-body panel">
        <div class="menus">
            <a href="/db_view/">
               <button class="btn btn-primary btn-lg active">进入数据库</button>
            </a>
            <a href="/show_info/">
                <button class="btn btn-primary btn-lg active">指令历史查询</button>
            </a>
            <a href="/app01/show_usr_info/">
                 <button class="btn btn-primary btn-lg active">用户列表查询(ORM)</button>
            </a>
            <a href="/login/">
                <button class="btn btn-primary btn-lg active">返回</button>
            </a>
        </div>
        <div class="content panel">
            <ol class="breadcrumb">
              <li><a href="/members/">首页</a></li>
              <li><a href="/members/">人员管理</a></li>
              <li class="active">添加人员</li>
            </ol>
        </div>
    </div>

</body>
</html>