<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    {#<link rel="stylesheet" href="/static/commons.css">#}
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/commons.css/">

</head>
<body style="background-image: url(/static/login2.jpg)">

        <form class="form-horizontal" method="POST"  action="/login/ ">
        <div class="login">
        <h1 align="center">用户登录</h1>
      <div class="form-group">
        <label  class="col-sm-5 control-label ">账号:</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="user" placeholder="账号" size="10"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label " >密码:</label>
        <div class="col-sm-2">
          <input type="password" class="form-control" name="pwd" placeholder="Password"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-5 col-sm-2">
          <button type="submit" class="btn btn-primary btn-lg active">登录</button>
            &nbsp &nbsp &nbsp
          <input type="button" class="btn btn-default btn-lg active" onclick="window.open('/home/','_self');" value="返回" />
            <br>
            {{ msg }}
        </div>
      </div>
    </div>
    </form>
</div>

</body>
</html>