<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
</head>
<body>
    <h1>welcome,manager!But I haven't finish yet!</h1>
    <h1>这里是后台界面</h1>
    <a href="/db_view/">
            <button class="btn btn-primary btn-lg active">进入数据库</button>
    </a>
	<a href="/show_info/">
		<button class="btn btn-primary btn-lg active">指令历史查询</button>
    <a href="/app01/show_usr_info/">
        <button class="btn btn-primary btn-lg active">用户列表查询(ORM)</button>
    <a href="/login/">
        <button class="btn btn-primary btn-lg active">返回</button>
	</a>
</body>
</html>