<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>用户列表</h1>
    <table>
        <thread>
            <tr>
                <th>用户ID</th>
                <th>用户姓名</th>
                <th>用户权限</th>
                <th>密码</th>
            </tr>
        </thread>

        <tbody>
            {% for row in info_list %}
                <tr>
                    <td>{{ row.ID }}</td>
                    <td>{{ row.name }}</td>
			        <td>{{ row.admin }}</td>
			        <td>{{ row.pwd}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>